includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max

    paths:
        - app
        - src
        - tests
        - routes
        - config

    excludePaths:
        analyse:
            - vendor
            - storage
            - bootstrap/cache
            - public/build
            - public/hot
            - database/migrations

        analyseAndScan:
            - vendor

    parallel:
        processTimeout: 900.0

    checkMissingOverrideMethodAttribute: true
    checkStrictPrintfPlaceholderTypes: true
    checkMissingCallableSignature: true

    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    polluteScopeWithBlock: false

    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true

    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    rememberPossiblyImpureFunctionValues: false

    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAlwaysTrueInLastCondition: true

    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true

    inferPrivatePropertyTypeFromConstructor: false
    treatPhpDocTypesAsCertain: true

    tipsOfTheDay: false
