Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  misc-*,
  -readability-identifier-length
WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
FormatStyle: file
InheritParentConfig: true
